#player-active-board-container {
    /* position: fixed;
    bottom: 30px; */
    /* right: 0; */
    background-color: gray;
    width: 600px;
}

#player-active-board-svg {
    width: 600px;
    height: 350px;
}


.helper-player-board {
    position: absolute;
    /* display: none; */
    width: 100px;
    height: 300px;
    background-color: #f0f0f0;
    font-family: Arial;
    font-size: 18px;
    fill: white;
    font-weight: bold;
}

.opacity-cube {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.opacity-cube:hover {
    opacity: 0.5;
}
