#nav-container {
    position: fixed;
    background-color: rgba(0, 100, 0, 0.3);
    width: 1248px;
}

/* .buttons-container-nav-div {
	display: flex;
	justify-content: center;
	align-items: center;
} */

.nav-button {
	/* box-shadow: 0px 10px 14px -7px #276873; */
	/* background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%); */
	/* background-color:#599bb3; */
	border-radius:8px;
	cursor:pointer;
	/* color:#ffffaa; */
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:1px 3px;
	/* text-decoration:none; */
}

.nav-button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.nav-button:active {
	position:relative;
	top:1px;
}

span.step,
span.amount-actions,
p.title,
p.messages {
	font-size: 12px;
	color: white;
}

.title-players-div {
	font-size: 12px;
}
