{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport">

        <title>Merchants and Marauders v1 - {% block title %}{% endblock title %}</title>

        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'styles/base_styles.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.2">
        {% block styles %}{% endblock styles %}

    </head>

    <body>

        {% block content %} {% endblock content %}

        {% block scripts %}{% endblock scripts %}

    </body>

</html>