{% load static %}

<div id="player-active-board-container" style="display: none;">
    <svg id="player-active-board-svg">


        <!-- PLAYER BOARD -->
        <image id="player-board" href="" x="0" y="0" width="600" height="350"/>


        <!-- FAVORs TRACK -->
        <defs>
            <image id="cube-favour-image" width="20" height="20" href=""/>
        </defs>
        <use id="0-favour-track" class="opacity-cube" name="0-favour-track" x="23" y="103" href=""/>
        <use id="1-favour-track" class="opacity-cube" name="1-favour-track" x="23" y="85" href=""/>
        <use id="2-favour-track" class="opacity-cube" name="2-favour-track" x="23" y="65" href=""/>
        <use id="3-favour-track" class="opacity-cube" name="3-favour-track" x="23" y="45" href=""/>
        <use id="4-favour-track" class="opacity-cube" name="4-favour-track" x="23" y="25" href=""/>
        <use id="5-favour-track" class="opacity-cube" name="5-favour-track" x="23" y="5" href=""/>


        <!-- LOYALITY TRACK -->
        <defs>
            <image id="cube-loyality-image" width="20" height="20" href=""/>
        </defs>
        <use id="fierce-loyality-loyality-track" class="opacity-cube loyality" name="fierce-loyality-loyality-track" x="67" y="37" href=""/>
        <use id="happy-loyality-track" class="opacity-cube loyality" name="happy-loyality-track" x="67" y="57" href=""/>
        <use id="pleased-loyality-track" class="opacity-cube loyality" name="pleased-loyality-track" x="67" y="77" href=""/>
        <use id="content-loyality-track" class="opacity-cube loyality" name="content-loyality-track" x="67" y="103" href=""/>
        <use id="restless-loyality-track" class="opacity-cube loyality" name="restless-loyality-track" x="67" y="129" href=""/>
        <use id="unhappy-loyality-track" class="opacity-cube loyality" name="unhappy-loyality-track" x="67" y="149" href=""/>
        <use id="angry-loyality-track" class="opacity-cube loyality" name="angry-loyality-track" x="67" y="169" href=""/>
        <use id="mutiny-loyality-track" class="opacity-cube loyality" name="mutiny-loyality-track" x="67" y="189" href=""/>


        <!-- CAPTAIN -->
        <defs>
            <clipPath id="player-captain-card-clipPath"><rect x="0" y="0" width="88" height="58" rx="4" ry="4"/></clipPath>
            <image id="player-captain-card-image" width="88" height="58" href="" clip-path="url(#player-captain-card-clipPath)" onmouseover="enlagreIndicated('player-captain-card-image')"/>
        </defs>
        <use id="player-captain-card" name="player-captain-card" x="160" y="25" href="#player-captain-card-image" transform="rotate(0.5 160 25)"/>


        <!-- GLORY CARDs -->
        <defs>
            <clipPath id="player-glory-card-clipPath"><rect x="0" y="0" width="58" height="88" rx="4" ry="4"/></clipPath>
            <image id="player-glory-card-1-image" width="58" height="88" href="" clip-path="url(#player-glory-card-clipPath)"/>
            <image id="player-glory-card-2-image" width="58" height="88" href="" clip-path="url(#player-glory-card-clipPath)"/>
            <image id="player-glory-card-3-image" width="58" height="88" href="" clip-path="url(#player-glory-card-clipPath)"/>
            <image id="player-glory-card-4-image" width="58" height="88" href="" clip-path="url(#player-glory-card-clipPath)"/>
            <image id="player-glory-card-5-image" width="58" height="88" href="" clip-path="url(#player-glory-card-clipPath)"/>
            <image id="player-glory-card-6-image" width="58" height="88" href="" clip-path="url(#player-glory-card-clipPath)"/>
        </defs>
        <use id="player-glory-card-1" name="player-glory-card-1" x="490" y="10" href="#player-glory-card-1-image"/>
        <use id="player-glory-card-2" name="player-glory-card-2" x="505" y="10" href="#player-glory-card-2-image"/>
        <use id="player-glory-card-3" name="player-glory-card-3" x="520" y="10" href="#player-glory-card-3-image"/>
        <use id="player-glory-card-4" name="player-glory-card-4" x="535" y="10" href="#player-glory-card-4-image"/>
        <use id="player-glory-card-5" name="player-glory-card-5" x="550" y="10" href="#player-glory-card-5-image"/>
        <use id="player-glory-card-6" name="player-glory-card-6" x="565" y="10" href="#player-glory-card-6-image"/>


        <!-- SHIP -->
        <defs>
            <clipPath id="player-ship-card-clipPath"><rect x="0" y="0" width="88" height="58" rx="4" ry="4"/></clipPath>
            <image id="player-ship-card-image" width="88" height="58" href="" clip-path="url(#player-ship-card-clipPath)"/>
        </defs>
        <use id="player-ship-card" name="player-ship-card" x="160" y="152" href="#player-ship-card-image" transform="rotate(0.5 161 153)"/>


        <!-- BOUNTIES -->
        <defs>
            <image id="player-bounty-dutch-image" x="0" y="0" width="30" height="20" href="">
            <image id="player-bounty-english-image" x="0" y="0" width="30" height="20" href="">
            <image id="player-bounty-french-image" x="0" y="0" width="30" height="20" href="">
            <image id="player-bounty-spanish-image" x="0" y="0" width="30" height="20" href="">
            <image id="player-bounty-small-pirate-image" x="0" y="0" width="30" height="20" href="">
            <image id="player-bounty-large-pirate-image" x="0" y="0" width="30" height="20" href="">
        </defs>
        <use id="player-bounty-1-2" x="253" y="79" href=""/> 
        <use id="player-bounty-1-3" x="253" y="79" href=""/> 
        <use id="player-bounty-1-4" x="253" y="79" href=""/> 
        <use id="player-bounty-1-5" x="253" y="79" href=""/>
        <use id="player-bounty-1-6" x="253" y="79" href=""/>
        <use id="player-bounty-1-1" x="253" y="79" href="" transform="rotate(2 253 79)" onmouseover="showBounties('show', 1)" onmouseout="showBounties('hide', 1)"/> 
        <use id="player-bounty-2-2" x="253" y="62" href=""/>
        <use id="player-bounty-2-3" x="253" y="62" href=""/>
        <use id="player-bounty-2-4" x="253" y="62" href=""/>
        <use id="player-bounty-2-5" x="253" y="62" href=""/>
        <use id="player-bounty-2-6" x="253" y="62" href=""/>
        <use id="player-bounty-2-1" x="253" y="62" href="" transform="rotate(2 253 62)" onmouseover="showBounties('show', 2)" onmouseout="showBounties('hide', 2)"/>
        <use id="player-bounty-3-2" x="253" y="44" href=""/>
        <use id="player-bounty-3-3" x="253" y="44" href=""/>
        <use id="player-bounty-3-4" x="253" y="44" href=""/>
        <use id="player-bounty-3-5" x="253" y="44" href=""/>
        <use id="player-bounty-3-6" x="253" y="44" href=""/>
        <use id="player-bounty-3-1" x="253" y="44" href="" transform="rotate(2 253 44)" onmouseover="showBounties('show', 3)" onmouseout="showBounties('hide', 3)"/>
        <use id="player-bounty-4-2" x="253" y="27" href=""/>
        <use id="player-bounty-4-3" x="253" y="27" href=""/>
        <use id="player-bounty-4-4" x="253" y="27" href=""/>
        <use id="player-bounty-4-5" x="253" y="27" href=""/>
        <use id="player-bounty-4-6" x="253" y="27" href=""/>
        <use id="player-bounty-4-1" x="253" y="27" href="" transform="rotate(2 253 27)" onmouseover="showBounties('show', 4)" onmouseout="showBounties('hide', 4)"/>
        <use id="player-bounty-5-2" x="253" y="9"  href=""/>
        <use id="player-bounty-5-3" x="253" y="9"  href=""/>
        <use id="player-bounty-5-4" x="253" y="9"  href=""/>
        <use id="player-bounty-5-5" x="253" y="9"  href=""/>
        <use id="player-bounty-5-6" x="253" y="9"  href=""/>
        <use id="player-bounty-5-1" x="253" y="9"  href="" transform="rotate(2 253 9)" onmouseover="showBounties('show', 5)" onmouseout="showBounties('hide', 5)"/>


        <!-- SHIP MODIFICATIONs -->
        <defs>
            <clipPath id="player-ship-modification-clipPath"><rect x="0" y="0" width="20" height="20" rx="1" ry="1"/></clipPath>            
            <image id="player-ship-modification-advanced-rigs-&-sails-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-carved-hull-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-chasers-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-crows-nest-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-extended-cargo-hold-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-extra-cannon-port-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-extra-hammocs-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-long-guns-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-plank-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-reinforced-hull-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-smugglers-hold-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-swivel-guns-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>

            <image id="player-ship-modification-extended-keel-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-extra-boat-stow-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-extra-mast-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-fast-davits-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-galley-refit-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-grand-figurehead-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-mortar-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
            <image id="player-ship-modification-stunsails-image" width="20" height="20" href="" clip-path="url(#player-ship-modification-clipPath)"/>
        </defs>
        <use id="player-ship-modification-advanced-rigs-&-sails" x="206" y="103" href="#player-ship-modification-advanced-rigs-&-sails-image"/>
        <use id="player-ship-modification-carved-hull" x="527" y="104" href="#player-ship-modification-carved-hull-image"/>
        <use id="player-ship-modification-chasers" x="287" y="103" href="#player-ship-modification-chasers-image"/>
        <use id="player-ship-modification-crows-nest" x="493" y="104" href="#player-ship-modification-crows-nest-image"/>
        <use id="player-ship-modification-extended-cargo-hold" x="449" y="104" href="#player-ship-modification-extended-cargo-hold-image"/>
        <use id="player-ship-modification-extra-cannon-port" x="368" y="104" href="#player-ship-modification-extra-cannon-port-image"/>
        <use id="player-ship-modification-extra-hammocs" x="166" y="103" href="#player-ship-modification-extra-hammocs-image"/>
        <use id="player-ship-modification-long-guns" x="408" y="103" href="#player-ship-modification-long-guns-image"/>
        <use id="player-ship-modification-plank" x="124" y="103" href="#player-ship-modification-plank-image"/>
        <use id="player-ship-modification-reinforced-hull" x="247" y="103" href="#player-ship-modification-reinforced-hull-image"/>
        <use id="player-ship-modification-smugglers-hold" x="566" y="104" href="#player-ship-modification-smugglers-hold-image"/>
        <use id="player-ship-modification-swivel-guns" x="327" y="103" href="#player-ship-modification-swivel-guns-image"/>

        <use id="player-ship-modification-extended-keel" x="528" y="239" href="#player-ship-modification-extended-keel-image"/>
        <use id="player-ship-modification-extra-boat-stow" x="203" y="239" href="#player-ship-modification-extra-boat-stow-image"/>
        <use id="player-ship-modification-extra-mast" x="393" y="238" href="#player-ship-modification-extra-mast-image"/>
        <use id="player-ship-modification-fast-davits" x="244" y="239" href="#player-ship-modification-fast-davits-image"/>
        <use id="player-ship-modification-galley-refit" x="483" y="238" href="#player-ship-modification-galley-refit-image"/>
        <use id="player-ship-modification-grand-figurehead" x="572" y="238" href="#player-ship-modification-grand-figurehead-image"/>
        <use id="player-ship-modification-mortar" x="415" y="278" href="#player-ship-modification-mortar-image"/>
        <use id="player-ship-modification-stunsails" x="438" y="239" href="#player-ship-modification-stunsails-image"/>


        <!-- HIT LOCATIONs -->
        <defs>
            <clipPath id="player-hit-location-clipPath"><rect x="0" y="0" width="12" height="12" rx="2" ry="2"/></clipPath>
            <image id="player-hit-location-image" width="12" height="12" href="" clip-path="url(#player-hit-location-clipPath)"/>
            <image id="player-hit-location-max-value-image" width="12" height="12" href="" clip-path="url(#player-hit-location-clipPath)"/>
        </defs>
        <use id="hull-1-player-hit-location" class="opacity-cube" name="hull-1-player-it-location" x="271" y="141" href=""/>
        <use id="hull-2-player-hit-location" class="opacity-cube" name="hull-2-player-it-location" x="284" y="141" href=""/>
        <use id="hull-3-player-hit-location" class="opacity-cube" name="hull-3-player-it-location" x="296" y="141" href=""/>
        <use id="hull-4-player-hit-location" class="opacity-cube" name="hull-4-player-it-location" x="309" y="141" href=""/>
        <use id="hull-5-player-hit-location" class="opacity-cube" name="hull-5-player-it-location" x="321" y="141" href=""/>
        <use id="hull-6-player-hit-location" class="opacity-cube" name="hull-6-player-it-location" x="334" y="141" href=""/>
        <use id="hull-7-player-hit-location" class="opacity-cube" name="hull-7-player-it-location" x="345" y="141" href=""/>

        <use id="cargo-1-player-hit-location" class="opacity-cube" name="cargo-1-player-hit-location" x="271" y="158" href=""/>
        <use id="cargo-2-player-hit-location" class="opacity-cube" name="cargo-2-player-hit-location" x="284" y="158" href=""/>
        <use id="cargo-3-player-hit-location" class="opacity-cube" name="cargo-3-player-hit-location" x="296" y="158" href=""/>
        <use id="cargo-4-player-hit-location" class="opacity-cube" name="cargo-4-player-hit-location" x="309" y="158" href=""/>
        <use id="cargo-5-player-hit-location" class="opacity-cube" name="cargo-5-player-hit-location" x="321" y="158" href=""/>
        <use id="cargo-6-player-hit-location" class="opacity-cube" name="cargo-6-player-hit-location" x="334" y="158" href=""/>
        <use id="cargo-7-player-hit-location" class="opacity-cube" name="cargo-7-player-hit-location" x="345" y="158" href=""/>

        <use id="masts-1-player-hit-location" class="opacity-cube" name="masts-1-player-hit-location" x="271" y="174" href=""/>
        <use id="masts-2-player-hit-location" class="opacity-cube" name="masts-2-player-hit-location" x="284" y="174" href=""/>
        <use id="masts-3-player-hit-location" class="opacity-cube" name="masts-3-player-hit-location" x="296" y="174" href=""/>
        <use id="masts-4-player-hit-location" class="opacity-cube" name="masts-4-player-hit-location" x="309" y="174" href=""/>
        <use id="masts-5-player-hit-location" class="opacity-cube" name="masts-5-player-hit-location" x="321" y="174" href=""/>
        <use id="masts-6-player-hit-location" class="opacity-cube" name="masts-6-player-hit-location" x="334" y="174" href=""/>
        <use id="masts-7-player-hit-location" class="opacity-cube" name="masts-7-player-hit-location" x="345" y="174" href=""/>

        <use id="crew-1-player-hit-location" class="opacity-cube" name="crew-1-player-it-location" x="271" y="190" href=""/>
        <use id="crew-2-player-hit-location" class="opacity-cube" name="crew-2-player-it-location" x="284" y="190" href=""/>
        <use id="crew-3-player-hit-location" class="opacity-cube" name="crew-3-player-it-location" x="296" y="190" href=""/>
        <use id="crew-4-player-hit-location" class="opacity-cube" name="crew-4-player-it-location" x="309" y="190" href=""/>
        <use id="crew-5-player-hit-location" class="opacity-cube" name="crew-5-player-it-location" x="321" y="190" href=""/>
        <use id="crew-6-player-hit-location" class="opacity-cube" name="crew-6-player-it-location" x="334" y="190" href=""/>
        <use id="crew-7-player-hit-location" class="opacity-cube" name="crew-7-player-it-location" x="345" y="190" href=""/>

        <use id="cannons-1-player-hit-location" class="opacity-cube" name="cannons-player-1-hit-location" x="271" y="207" href=""/>
        <use id="cannons-2-player-hit-location" class="opacity-cube" name="cannons-player-2-hit-location" x="284" y="207" href=""/>
        <use id="cannons-3-player-hit-location" class="opacity-cube" name="cannons-player-3-hit-location" x="296" y="207" href=""/>
        <use id="cannons-4-player-hit-location" class="opacity-cube" name="cannons-player-4-hit-location" x="309" y="207" href=""/>
        <use id="cannons-5-player-hit-location" class="opacity-cube" name="cannons-player-5-hit-location" x="321" y="207" href=""/>
        <use id="cannons-6-player-hit-location" class="opacity-cube" name="cannons-player-6-hit-location" x="334" y="207" href=""/>
        <use id="cannons-7-player-hit-location" class="opacity-cube" name="cannons-player-7-hit-location" x="345" y="207" href=""/>


        <!-- SPECIAL WEAPONs -->
        <defs>
            <clipPath id="player-special-weapon-clipPath"><circle cx="10" cy="10" r="10"/></clipPath>
            <image id="player-special-weapon-chain-shot-image" width="20" height="20" href="" clip-path="url(#player-special-weapon-clipPath)"/>
            <image id="player-special-weapon-grapeshot-image" width="20" height="20" href="" clip-path="url(#player-special-weapon-clipPath)"/>
            <image id="player-special-weapon-grappling-hooks-image" width="20" height="20" href="" clip-path="url(#player-special-weapon-clipPath)"/>
            <image id="player-special-weapon-heated-shot-image" width="20" height="20" href="" clip-path="url(#player-special-weapon-clipPath)"/>
            <image id="player-special-weapon-double-shot-image" width="20" height="20" href="" clip-path="url(#player-special-weapon-clipPath)"/>
            <image id="player-special-weapon-caltrops-image" width="20" height="20" href="" clip-path="url(#player-special-weapon-clipPath)"/>
            <image id="player-special-weapon-premium-rum-image" width="20" height="20" href="" clip-path="url(#player-special-weapon-clipPath)"/>
            <image id="player-special-weapon-grenade-image" width="20" height="20" href="" clip-path="url(#player-special-weapon-clipPath)"/>
            <image id="player-special-weapon-explosive-shell-image" width="20" height="20" href="" clip-path="url(#player-special-weapon-clipPath)"/>
        </defs>
        <use id="player-special-weapon-chain-shot" x="384" y="134" href="#player-special-weapon-chain-shot-image"/>
        <use id="player-special-weapon-grapeshot" x="384" y="166" href="#player-special-weapon-grapeshot-image"/>
        <use id="player-special-weapon-grappling-hooks" x="384" y="198" href="#player-special-weapon-grappling-hooks-image"/>
        <use id="player-special-weapon-heated-shot" x="566" y="134" href="#player-special-weapon-heated-shot-image"/>
        <use id="player-special-weapon-double-shot" x="566" y="167" href="#player-special-weapon-double-shot-image"/>
        <use id="player-special-weapon-caltrops" x="566" y="200" href="#player-special-weapon-caltrops-image"/>
        <use id="player-special-weapon-premium-rum" x="460" y="277" href="#player-special-weapon-premium-rum-image"/>
        <use id="player-special-weapon-grenade" x="505" y="277" href="#player-special-weapon-grenade-image"/>
        <use id="player-special-weapon-explosive-shell" x="550" y="277" href="#player-special-weapon-explosive-shell-image"/>

        <!-- CARGO CARDs -->
        <defs>
            <image id="player-cargo-card-1-image" x="0" y="0" width="58" height="88" href="">
            <image id="player-cargo-card-2-image" x="0" y="0" width="58" height="88" href="">
            <image id="player-cargo-card-3-image" x="0" y="0" width="58" height="88" href="">
            <image id="player-cargo-card-4-image" x="0" y="0" width="58" height="88" href="">
            <image id="player-cargo-card-5-image" x="0" y="0" width="58" height="88" href="">
            <image id="player-cargo-card-6-image" x="0" y="0" width="58" height="88" href="">
            <image id="player-cargo-card-7-image" x="0" y="0" width="58" height="88" href="">
            <image id="player-cargo-card-8-image" x="0" y="0" width="58" height="88" href="">
        </defs>
        <use id="player-cargo-card-use-2" x="417" y="139" href=""/>
        <use id="player-cargo-card-use-3" x="417" y="139" href=""/>
        <use id="player-cargo-card-use-4" x="417" y="139" href=""/>
        <use id="player-cargo-card-use-5" x="417" y="139" href=""/>
        <use id="player-cargo-card-use-6" x="417" y="139" href=""/>
        <use id="player-cargo-card-use-7" x="417" y="139" href=""/>
        <use id="player-cargo-card-use-8" x="417" y="139" href=""/>
        <use id="player-cargo-card-use-1" x="417" y="139" href="" onmouseover="showCargoCards('show')" onmouseout="showCargoCards('hide')"/>


        <!-- PLAYER GOLDs -->
        <defs>
            <clipPath id="coin-clipPath"><circle cx="25" cy="25" r="25"/></clipPath>
            <image id="coin-image" width="50" height="50" href="" clip-path="url(#coin-clipPath)"/>
        </defs>
        <use id="player-coins" name="player-coins" x="422" y="200" href="#coin-image"/>
        <text id="player-coin-amount" x="445" y="228" font-weight="bold" font-size="24" stroke-width="0.5" stroke="" fill="white" text-anchor="middle" dominant-baseline="middle"></text>


        <!-- CAPTAIN ACTIONs -->
        <defs>
            <clipPath id="captain-actions-clipPath"><rect x="0" y="0" width="12" height="12" rx="2" ry="2"/></clipPath>
            <image id="captain-actions-image" width="12" height="12" href="" clip-path="url(#captain-actions-clipPath)"/>
            <image id="captain-max-value-actions-image" width="12" height="12" href="" clip-path="url(#captain-actions-clipPath)"/>
        </defs>
        <use id="captain-actions-1" class="opacity-cube" x="425" y="317" href=""/>
        <use id="captain-actions-2" class="opacity-cube" x="445" y="317" href=""/>
        <use id="captain-actions-3" class="opacity-cube" x="465" y="317" href=""/>
        <use id="captain-actions-4" class="opacity-cube" x="485" y="317" href=""/>
        <use id="captain-actions-5" class="opacity-cube" x="505" y="317" href=""/>
        <use id="captain-actions-crew-mode" class="opacity-cube" x="555" y="317" href=""/>




































































        <text class="helper-player-board" text-anchor="start" alignment-baseline="middle" style="font-size: 8px">
            <tspan class="tspan-player-board"></tspan>
            <tspan class="tspan-player-board"></tspan>
        </text>

    </svg><br>
</div>
