/* battleApp */
.battle-app-hidden {
    display: none;
}

/* .battle-app:hover {
    display: none;
} */

#back-to-main-list-button:hover {
    font-style: italic
}

p {
    font-size: 13px;
}




/* playerAttackKN */
.declaration {
    text-align: left;
}