{% extends 'base.html' %}
{% load static %}


{% block title %}Batte Application{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'battle_app/styles/battle_app.css' %}">
{% endblock styles %}


{% block content %}

    <h6>Combat Flow</h6>
    <h6>v1 - Battle App</h6>
    <div id="battle-app-main-list">
        <button onclick="seaBattle()">Sea Battle</button><br>
        <!-- <a href=""><button>NPC attack Player</button></a><br>
        <a href=""><button>Player attack Merchant</button></a><br>
        <a href=""><button>Player attack Player</button></a><br>
        <a href=""><button>Player attack Location</button></a><br>
        <a href=""><button>Player attack Fort</button></a><br> -->
        <button onclick="combatFlowDiagram()">Combat Flow Diagram</button><br>
    </div>

    <div id="battle-logs">
    </div>

    <hr id="hr-line-before-back-to-list-button" class="battle-app-hidden">
    <button id="back-to-main-list-button" style="color: cyan" class="battle-app-hidden" onclick="battleAppShowMainList()"><- Back to Battle List</button>

    <hr>
    <a href="{% url 'index:index' %}"><button class="back"><- BACK to INDEX</button></a>

{% endblock content %}

{% block scripts %}

    <script src="{% static 'battle_app/js/combatFlow/boarding.js' %}"></script>
    <script src="{% static 'battle_app/js/combatFlow/declaration.js' %}"></script>
    <script src="{% static 'battle_app/js/combatFlow/flee.js' %}"></script>
    <script src="{% static 'battle_app/js/combatFlow/rollSeamanship.js' %}"></script>
    <script src="{% static 'battle_app/js/combatFlow/seamanship.js' %}"></script>
    <script src="{% static 'battle_app/js/combatFlow/shooting.js' %}"></script>
    <script src="{% static 'battle_app/js/combatFlow/startRound.js' %}"></script>

    <script src="{% static 'battle_app/js/domUtils/actionButton.js' %}"></script>
    <script src="{% static 'battle_app/js/domUtils/createP.js' %}"></script>
    <script src="{% static 'battle_app/js/domUtils/dices.js' %}"></script>
    <script src="{% static 'battle_app/js/domUtils/dicesRoll.js' %}"></script>
    <script src="{% static 'battle_app/js/domUtils/sideSpan.js' %}"></script>
    <script src="{% static 'battle_app/js/domUtils/roundSection.js' %}"></script>
    <script src="{% static 'battle_app/js/domUtils/statBoard.js' %}"></script>

    <script src="{% static 'battle_app/js/mainList.js' %}"></script>
    <script src="{% static 'battle_app/js/seaBattle.js' %}"></script>
    <script src="{% static 'battle_app/js/combatFlow.js' %}"></script>

    <script src="{% static 'battle_app/js/combatFlowDiagram.js' %}"></script>

{% endblock scripts %}
