#board-container {
    margin-top: 200px;
    /* margin-bottom: 360px; */
    margin-bottom: -80px;
    background-color: gray;
    width: 1248px;
}

polygon,
rect,
ellipse,
circle,
use {
    /* filter: drop-shadow(10px 10px 16px rgba(0, 0, 0, .9)); */
    /* filter: blur(10px); */
    fill: rgba(255, 255, 255, 0);
    /* stroke: red;
    stroke-width: 1; */
    transition: fill 0.2s;
    top: 0;
    left: 0;
}

polygon:hover,
rect:hover,
ellipse:hover,
circle:hover,
use:hover,
#user:hover {
    fill: rgba(255, 255, 255, .4);
    cursor: pointer;
}

.helper-board {
    position: absolute;
    /* display: none; */
    width: 100px;
    height: 300px;
    background-color: #f0f0f0;
    font-family: Arial;
    font-size: 18px;
    fill: white;
    font-weight: bold;
}
