#board-container {
    margin-top: 130px;
    /* margin-bottom: 360px; */
    margin-bottom: -80px;
    background-color: gray;
    width: 1248px;
}

polygon,
rect,
ellipse,
circle,
use {
    /* filter: drop-shadow(10px 10px 16px rgba(0, 0, 0, .9)); */
    /* filter: blur(10px); */
    fill: rgba(255, 255, 255, 0);
    /* stroke: red;
    stroke-width: 1; */
    transition: fill 0.2s;
    top: 0;
    left: 0;
}

polygon:hover,
rect:hover,
ellipse:hover,
circle:hover,
use:hover,
#user:hover {
    fill: rgba(255, 255, 255, .4);
    cursor: pointer;
}

.helper-board {
    position: absolute;
    /* display: none; */
    width: 100px;
    height: 300px;
    background-color: #f0f0f0;
    font-family: Arial;
    font-size: 10px;
    fill: white;
    font-weight: bold;
}

.opacity-cube {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.opacity-cube:hover {
    opacity: 0.5;
}

#new-player-main-rect,
#fishing-action-main-rect,
#merchant-raid-action-main-rect,
#merchant-trade-action-main-rect,
#merchant-escort-action-main-rect,
#port-sell-goods-action-main-rect,
#port-buy-goods-action-main-rect,
#port-visit-shipyard-ship-action-main-rect,
#port-visit-shipyard-special-weapons-action-main-rect,
#port-visit-shipyard-repair-action-main-rect,
#port-visit-shipyard-modifications-action-main-rect {
    fill: gray;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

#new-player-main-rect:hover,
#fishing-action-main-rect:hover,
#merchant-raid-action-main-rect:hover,
#merchant-trade-action-main-rect:hover,
#merchant-escort-action-main-rect:hover,
#port-sell-goods-action-main-rect:hover,
#port-buy-goods-action-main-rect:hover,
#port-visit-shipyard-ship-action-main-rect:hover,
#port-visit-shipyard-special-weapons-action-main-rect:hover,
#port-visit-shipyard-repair-action-main-rect:hover,
#port-visit-shipyard-modifications-action-main-rect:hover {
    opacity: 0.5;
}