{% load static %}

<div id="nav-container">

    <div class="nav-title-div">
        <p class="title">ROUNDs: <span id="nav-id-amount-rounds">0</span>.<br></p>
        <hr>
    </div>

    <!-- <div class="nav-title-players-div" style="display: none;"> -->
    <div class="nav-title-players-div">
        <span class="nav-title-player-blue" style="display: none; color: blue;">Player Blue: <span class="nav-title-value-player-blue" style="color: black; font-weight: bold;"></span></span>
        <span class="nav-title-player-green" style="display: none; color: green;">Player Green: <span class="nav-title-value-player-green" style="color: black; font-weight: bold;"></span></span>
        <span class="nav-title-player-red" style="display: none; color: red;">Player Red: <span class="nav-title-value-player-red" style="color: black; font-weight: bold;"></span></span>
        <span class="nav-title-player-yellow" style="display: none; color: yellow;">Player Yellow: <span class="nav-title-value-player-yellow" style="color: black; font-weight: bold;"></span></span><br>
    </div>

    <div class="nav-buttons-container-div">

        <!-- PLAYERs -->
        <div id="nav-add-players-div" style="display: none;">
            <span class="step">PLAYERs (choose colour, captain and ship)</span>
            <button class="nav-button nav-button-player-blue" style="color: blue" onclick="newPlayer('blue')">BLUE <span class="player-blue-added" style="display: none; color: black">Added</span></button>
            <button class="nav-button nav-button-player-green" style="color: green" onclick="newPlayer('green')">GREEN <span class="player-green-added" style="display: none; color: black">Added</span></button>
            <button class="nav-button nav-button-player-red" style="color: red" onclick="newPlayer('red')">RED <span class="player-red-added" style="display: none; color: black">Added</span></button>
            <button class="nav-button nav-button-player-yellow" style="color: yellow" onclick="newPlayer('yellow')">YELLOW <span class="player-yellow-added" style="display: none; color: black">Added</span></button>
            <button class="nav-button nav-button-player-start"><span class="player-amount">0</span> choosen - START GAME</button><br><hr>
        </div>

        <!-- DRAW EVENT CARD -->
        <div id="nav-draw-event-card-div" style="display: none;">
            <span class="step">EVENT CARD</span>
            <button class="nav-button nav-button-draw-event-card" onclick="drawEventCard()">Draw Event Card</button><br><hr>
        </div>

        <!-- PLAYER ACTIONs -->
        <div id="nav-player-action-div" style="display: none;">

            <span class="step nav-player-actions">Player Actions</span>
            <div class="nav-actions-buttons" style="display: none;">
                <button class="nav-button nav-button-move-ship" onclick="moveAction('moves')">Move</button>
                <button class="nav-button nav-button-scout" Disabled onclick="scoutAction('scout')">Scout</button>
                <button class="nav-button nav-button-port" Disabled onclick="portAction('port')">Port</button>
                <button class="nav-button nav-button-fishing" Disabled onclick="fishingAction('get')">Fishing</button>
                <button class="nav-button nav-button-location" Disabled onclick="locationAction('location')">Location</button>
            </div>

            <div class="nav-moves-buttons" style="display: none;">
                <button class="nav-button nav-button-to-port" onclick="moveAction('to port')">to port</button>
                <button class="nav-button nav-button-from-port" onclick="moveAction('from port')">from port</button>
                <button class="nav-button nav-button-to-sea-zone" onclick="moveAction('to sea zone')">to sea zone</button>
            </div>

            <div class="nav-directions-buttons" style="display: none;">
                <button class="nav-button nav-button-n-direction" style="display: none;">N - </button>
                <button class="nav-button nav-button-ne-direction" style="display: none;">NE - </button>
                <button class="nav-button nav-button-e-direction" style="display: none;">E - </button>
                <button class="nav-button nav-button-se-direction" style="display: none;">SE - </button>
                <button class="nav-button nav-button-s-direction" style="display: none;">S - </button>
                <button class="nav-button nav-button-sw-direction" style="display: none;">SW - </button>
                <button class="nav-button nav-button-w-direction" style="display: none;">W - </button>
                <button class="nav-button nav-button-nw-direction" style="display: none;">NW - </button>
            </div>

            <div class="nav-scouting-buttons" style="display: none;">
                <!-- <button class="nav-button nav-button-scouting nav-button-scout-merchant" style="display: none;" onclick="scoutAction('scouting merchant')">Merchant</button> -->
                <button class="nav-button nav-button-scouting nav-button-scout-merchant" style="display: none;" onclick="scoutAction('merchant')">Merchant</button>

                <button class="nav-button nav-button-scouting nav-button-scout-merchant-raid" style="display: none;" onclick="scoutAction('merchant raid')">Raid</button>
                <button class="nav-button nav-button-scouting nav-button-scout-merchant-trade" style="display: none;" onclick="scoutAction('merchant trade')">Trade</button>
                <button class="nav-button nav-button-scouting nav-button-scout-merchant-escort" style="display: none;" onclick="scoutAction('merchant escort')">Escort</button>

                <button class="nav-button nav-button-scouting nav-button-scout-dutch-ship" style="display: none;">Dutch Ship</button>
                <button class="nav-button nav-button-scouting nav-button-scout-english-ship" style="display: none;">English Ship</button>
                <button class="nav-button nav-button-scouting nav-button-scout-french-ship" style="display: none;">French Ship</button>
                <button class="nav-button nav-button-scouting nav-button-scout-spanish-ship" style="display: none;">Spanish Ship</button>
                <button class="nav-button nav-button-scouting nav-button-scout-small-pirate-ship" style="display: none;">Small Pirate Ship</button>
                <button class="nav-button nav-button-scouting nav-button-scout-large-pirate-ship" style="display: none;">Large Pirate Ship</button>
                <button class="nav-button nav-button-scouting nav-button-scout-blue-player-ship" style="display: none;">Blue Player Ship</button>
                <button class="nav-button nav-button-scouting nav-button-scout-green-player-ship" style="display: none;">Green Player Ship</button>
                <button class="nav-button nav-button-scouting nav-button-scout-red-player-ship" style="display: none;">Red Player Ship</button>
                <button class="nav-button nav-button-scouting nav-button-scout-yellow-player-ship" style="display: none;">Yellow Player Ship</button>
            </div>
            
            <div class="nav-port-buttons" style="display: none;">
                <button class="nav-button nav-button-sell-goods" onclick="portAction('sell goods')">Sell Goods</button>
                <button class="nav-button nav-button-buy-goods" onclick="portAction('buy goods')">Buy Goods</button>
                <button class="nav-button nav-button-visit-shipyard" onclick="portAction('visit shipyard')">Visit Shipyard</button>
                <button class="nav-button nav-button-recruit" onclick="portAction('recruit', id=true)">Recruit</button>
                <button class="nav-button nav-button-acquire-rumor">Acquire a Rumor</button>
                <button class="nav-button nav-button-claim-mission">Claim a Mission</button>
                <button class="nav-button nav-button-stash-gold" Disabled onclick="portAction('stash gold'); portAction('back to port');">Stash Gold</button>
                <button class="nav-button nav-button-raise-loyality" disabled onclick="portAction('raise loyality');">Raise Loyality</button>
                <button class="nav-button nav-button-get-favour" onclick="portAction('get favour'); portAction('back');">Get Favour</button>
            </div>
            <div class="nav-shipyard-buttons" style="display: none;">
                <button class="nav-button nav-button-buy-sell-ship" onclick="portAction('ship')">Ship</button>
                <button class="nav-button nav-button-buy-sell-special-weapon" onclick="portAction('special weapon')">Special Weapons</button>
                <button class="nav-button nav-button-repair" onclick="portAction('repair')">Repair</button>
                <button class="nav-button nav-button-buy-sell-ship-modification" onclick="portAction('modifications')">Modifications</button>
            </div>

            <div class="nav-location-buttons" style="display: none;">
                <button class="nav-button nav-button-location-visit">Visit</button>
                <button class="nav-button nav-button-location-raid">Raid</button>
            </div>

            <!-- <span class="step battle" style="display: none;">Battle</span>
            <button class="nav-button nav-button-" style="display: none;"></button>
            <button class="nav-button nav-button-" style="display: none;"></button><br> -->

            <div class="nav-back-endturn-buttons">
                <button class="nav-button nav-button-back" Disabled>&cularr; Back</button>
                <button class="nav-button nav-button-end-turn" onclick="endTurn()">END TURN</button>
            </div>

            <hr>

        </div><br>
    </div>

    <p id="nav-messages" class="messages">Here will be messages for player.</p>
</div>