{% load static %}

<!-- buttons -->
<script src="{% static 'nav/js/navBackButton.js' %}"></script>
<script src="{% static 'nav/js/navEndTurnButton.js' %}"></script>

<script src="{% static 'nav/js/navNewPlayer.js' %}"></script>
<script src="{% static 'nav/js/navSendToServerSelectedNewCaptainShip.js' %}"></script>
<script src="{% static 'nav/js/navGoGame.js' %}"></script>
<script src="{% static 'nav/js/navStartPlayerTurn.js' %}"></script>
<script src="{% static 'nav/js/navStartRound.js' %}"></script>
<script src="{% static 'nav/js/navEndTurn.js' %}"></script>
<script src="{% static 'nav/js/resetNav.js' %}"></script>

<!-- actions -->
<script src="{% static 'nav/js/navMoveActions.js' %}"></script>
<script src="{% static 'nav/js/navScoutActions.js' %}"></script>
<script src="{% static 'nav/js/navPortActions.js' %}"></script>
<script src="{% static 'nav/js/navLocationActions.js' %}"></script>
<script src="{% static 'nav/js/navFishingAction.js' %}"></script>

