{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome Pirates!!!{% endblock title %}
{% block styles %}<link rel="stylesheet" href="{% static 'index/styles/index_styles.css' %}">{% endblock styles %}

{% block content %}

    <h1>Merchants and Marauders v1 - Django</h1>
    <hr>
    <a href="{% url 'game:game' %}"><button>New Game</button></a><br>
    <!-- <a href=""><button>Settings</button></a><br> -->
    <!-- <a href=""><button>Rulebooks</button></a><br> -->
    <!-- <a href=""><button>Highlights</button></a><br> -->
    <hr>
    <a href="{% url 'history:history' %}"><button>History</button></a><br>
    <a href="{% url 'user:login' %}"><button>Login</button></a>
    <a href="{% url 'user:register' %}"><button>Register</button></a><br>
    <span>Admin panel Django - u:admin p:admin</span><a href="/admin"><button>Admin</button></a><br>
    
    <script src="{% static 'index/js/index.js' %}"></script>

{% endblock content %}
